.headerWrap{
	width: 100%;
	margin: 0 auto;
	background: #fff;
}
.headpc{
	height: 70px;
	position: relative;
	z-index: 9999;
}
.headpc .logo img{
	display: block;
	margin-top: 14.5px;
}
.headpc .navpc li{
	float: left;
	position: static;
}
.headpc .navpc>li>a{
	font-size: 18px;
	color: #868686;
	display: block;
	margin-left: 20px;
	line-height: 68px;
	border-bottom: 2px solid #fff;
}
.headpc .navpc>li>a.current{
	color: #004385;
}
.headpc .navpc li:hover a{
	color: #004385;
	border-bottom-color: #007acc;
}
.headpc .navpc li .box{
	width:auto;
	height:50px;
	position:absolute;
	top:70px;
	display:none;
}
.headpc .navpc li .box.boxend{
	right: 0;
}
.box1_bg{
	height:50px;
	width: 100%;
	line-height: 50px;
	position: absolute;
	top: 70px;
	z-index: 999;
	display: none;
	background: rgba(48,106,193,0.9);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#cc306ac1', endColorstr='#cc306ac1');	/*IE6,IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc306ac1', endColorstr='#cc306ac1')";	/*IE8*/
}
.headpc .navpc li .box{
	width:auto;
	height:50px;
	position:absolute;
	top:70px;
	display:none;
}
.headpc .navpc li .box li a{
	font-size: 18px;
	display: block;
	margin: 6px 20px 0;
	color: #fff;
	line-height: 36px;
}
.headpc .navpc li .box li a:hover{
	color: #dadada;
}
.headwap{
	display: none;
	height: 52px;
	width: 100%;
	position: relative;
}
.headwap .logo{
	position: absolute;
	top: 5.5px;
	left: 12px;
}
#menu_wap{
	width: 35px;
	height: 30.8px;
	display: block;
	position: absolute;
	right: 12px;
	top: 11px;
	background: url(../images/meun.png) no-repeat;
	background-size: 100%;
	cursor: pointer;
}
#Nav {
	width: 40%;
	height: 100%;
	position: fixed;
	right: -40%;
	top: 0px;
	background: #fff;
	z-index: 10;
}
#Nav ul li {
	display: block;
	text-align: center;
	padding: 0 2%;
}
#Nav ul li a {
	color: #535353;
	height: 52px;
	display: block;
	border-bottom: 1px solid #d8d8d8;
	line-height: 52px;
	text-align: center;
	font-size: 16px;
}
#showRight{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000');	/*IE6,IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000')";	/*IE8*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	display: none;
}

/*banner*/
.bannerWrap_wc{
	width: 100%;
	height: 100%;
	position: relative;
}
.focus {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.focus .hd {
	width:100%; 
	height: auto; 
	position:absolute;
	z-index: 8;
	bottom: 4%;
	text-align: center;
	margin: 0 auto;
}
.focus .hd ul {
	width:100%; 
}
.focus .hd ul li {
	display: inline-block;
	margin: 0 1px;
	text-indent: -9999px;
	width:60px; 
	height:6px;
	background: #b1b1b1;
	cursor:pointer; 
}
.focus .hd ul .on {
	background: #06609c;
}
.focus .bd {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
}
.focus .bd li{
	width: 100%;
	height: 100%;
}
.focus .bd li a{
	display: block;
	width: 100%;
	height: 100%;
}
.focus .bd li img {
	width: 100%;
	height: 100%;
}

/*整体解决方案提供商*/
.caseWrap{
	width: 100%;
	height: auto;
	padding-top: 20px;
}
.caseTop{
	width: 100%;
	text-align: center;
	position: relative;
}
.caseTop span{
	font-size: 28px;
	color: #525252;
	display: inline-block;
	padding: 0 5%;
	line-height: 50px;
	background: #ecf8ff;
}
.caseTop span em{
	font-size: 22px;
	display: block;
	color: #7c7c7c;
	font-family: "Adobe Garamond Pro";
}
.caseTop .line{
	height: 1px;
	margin: 0 90px;
	margin-top: -16px;
	background: #bbbbbb;
}
.case{
	margin-top: 40px;
}
.case li{
	float: left;
	width: 244px;
	cursor: pointer;
	margin-right: 16px;
}
.case li .case_div{
	border: 1px solid #e6e5e5;
	background: #ffffff;
	padding: 0 0 20px;
}
.case li.marr{
	float: right;
	margin-right: 0;
}
.case li:hover .case_div{
	border: 1px solid #06609c;
}
.case li .case_tp{
	width: 148px;
	height: 148px;
	margin: 12px auto;
	text-align: center;
	position: relative;
}
.case li .case_tp .img{
	position: absolute;
	width: auto;
	height: auto;
	border-radius: 50%;
	opacity: 1;
}
.case li .case_tp .img img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.case li .case_tp .info{
	position: absolute;
	text-align: center;
	border-radius: 50%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
	opacity:0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	transform: scale(0.5);
}
.case li .case_tp .info img{
	width: 100%;
	border-radius: 50%;
}
.case li:hover .case_tp .img {
	opacity: 0;
}
.case li:hover .case_tp .info {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.case li h2{
	font-size: 22px;
	color: #ababab;
	text-align: center;
}
.case li p{
	font-size: 16px;
	color: #ababab;
	margin-top: 8px;
	line-height: 30px;
	padding: 0 10px;
	text-align:justify;
	text-justify:inter-ideograph;
}
.case li:hover h2{
	color: #06609c;
}

/*浩思新闻*/
.newsWrap{
	width: 100%;
	height: 787px;
	background: #ecf8ff url(../images/new_bg.png) no-repeat center;
	background-size: cover;
	margin-top: 40px;
}
.newsTop{
	width: 100%;
	text-align: center;
	position: relative;
	padding-top: 52px;
}
.newsTop span{
	font-size: 28px;
	color: #525252;
	line-height: 50px;
	display: inline-block;
}
.newsTop span em{
	font-size: 22px;
	display: block;
	color: #7c7c7c;
	font-family: "Adobe Garamond Pro";
}
.newsWrap .w1024{
	margin-top: 30px;
	height: auto;
	background: #fff;
}
.news_list{
	padding: 44px 0 0;
}
.news_list .n_list{
	float: left;
	width: 252px;
	position: relative;
	height: 438px;
	border-right: 1px solid #b6b6b6;
}
.news_list .n_list:hover{
	cursor: pointer;
	background: url(../images/pic1.jpg) no-repeat;
	background-size: cover;
}
.news_list .n_list .cha{
	bottom: 126px;
	position: absolute;
}
.news_list .n_list h2{
	padding: 0 16px;
	font-size: 22px;
	color: #6b6b6b;
}
.news_list .n_list span.line{
	width: 66px;
	height: 1px;
	margin: 0 16px;
	display: block;
	border-top: 1px solid #b6b6b6;
}
.news_list .n_list a.tit{
	color: #5c5b5b;
	display: block;
	font-size: 18px;
	padding: 8px 16px;
}
.news_list .n_list:hover h2{
	color: #fff;
}
.news_list .n_list:hover a.tit{
	color: #4fbbff;
}
.news_list .n_list:hover p{
	color: #cacaca;
}
.news_list .n_list p,
.news_list .n_list1 p{
	padding: 0 16px;
	font-size: 16px;
	color: #ababab;
	line-height: 30px;
}
.news_list .n_list p .li_more{
	background: url(../images/ico1.png) no-repeat;
	width: 19px;
	height: 19px;
	display: none;
}
.news_list .n_list:hover p .li_more{
	display: inline-block;
}
.news_list .n_list1{
	float: right;
	width: 256px;
	text-align: center;
}
.news_list .n_list1 img{
	display: block;
	margin: 60px auto 0;
}
.news_list .n_list1 span.line{
	width: 66px;
	height: 1px;
	margin: 8px 24px;
	display: block;
	border-top: 1px solid #b6b6b6;
}
.newsWrap .more{
	float: right;
	display: inline-block;
	text-align: right;
	margin: 20px;
	width: 100px;
	text-align: center;
	color: #178fdd;
	height: 24px;
	line-height: 24px;
	border: 1px solid #178fdd;
}
.newsWrap .more:hover{
	color: #fff;
	background: #178fdd;
}

/*浩思服务*/
.serviceWrap{
	width: 100%;
	height: 702px;
	background: url(../images/service.jpg) no-repeat center;
	background-size: cover;
}
.serviceTop{
	width: 100%;
	text-align: center;
	position: relative;
	padding-top: 50px;
}
.serviceTop span{
	font-size: 28px;
	color: #fff;
	line-height: 50px;
	display: inline-block;
}
.serviceTop span em{
	font-size: 22px;
	display: block;
	color: #f0efef;
	font-family: "Adobe Garamond Pro";
}
.service_list{
	margin-top: 30px;
	width: 100%;
}
.service_list li{
	float: left;
	width: 300px;
	height: auto;
	padding: 20px;
	cursor: pointer;
	-moz-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	margin-right: 2px;
	background: rgba(23,143,221,0);
}
.service_list li.marr{
	margin-right: 0;
	float: right;
}
.service_list li .img{
	width: 100%;
	height: 196px;
	background: #fff;
	text-align: center;
    display: block;
    overflow: hidden;
}
.service_list li .img img{
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
}
.service_list li .wen {
	padding: 0 4px 20px;
	position: relative;
	background: #f5f5f5;
	margin-top: -4px;
}
.service_list li .wen .ico{
	display: block;
	width: 0px;
	height: 0px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 12px solid #f5f5f5;
	font-size: 0px;
	line-height: 0px;
	position: absolute;
	top: -12px;
	left: 30px;
}
.service_list li .wen .tit{
	display: block;
	padding: 12px 10px 8px;
	color: #565656;
	font-size: 20px;
	-moz-transition: all 0s ease-in;
	-webkit-transition: all 0s ease-in;
	-o-transition: all 0s ease-in;
	transition: all 0s ease-in;
}
.service_list li .wen p{
	font-size: 16px;
	color: #909090;
	padding: 0 10px;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height: 36px;
}
.service_list li:hover,
.service_list li:hover .wen{
	background: rgba(23,143,221,1);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff178fd3', endColorstr='#ff178fd3');	/*IE6,IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff178fd3', endColorstr='#ff178fd3')";	/*IE8*/
}
.service_list li:hover .wen .ico{
	display: none;
}
.service_list li:hover .wen .tit{
	font-size: 22px;
	color: #fff;
}
.service_list li:hover .wen p{
	font-size: 18px;
	color: #e3e3e3;
}
.service_list li:hover .img img,
.service_list li.hover .img img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1)
}

/*合作伙伴*/
.parentsWrap{
	padding: 50px 0;
	background: #fff;
}
.parentsWrap .caseTop span {
    background: #fff;
}
.parents{
	margin-top: 60px;
	text-align: center;
}
.parents a{
	display: inline-block;
	width: 33.33%;
	float: left;
	padding: 4px 0 26px;
	position: relative;
}
.parents a em{
	display: inline-block;
	float: right;
	height: 38px;
	width: 2px;
	margin: 0 auto;
	margin-top: 8px;
	font-family: "Adobe Garamond Pro";
	vertical-align: middle;
	background: #cccccc;
}
.parents a:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-kthml-opacity: 0.8;
}
.parents a.marr{
	border-right: 0;
}

/*bottom*/
.bottomWrap{
	width: 100%;
	height: auto;
	padding: 120px 0 160px;
	background: #f9f9f9;
}
.bottom .bottomL li{
	float: left;
	text-align: center;
	margin-right: 56px;
}
.bottom .bottomL li h2{
	font-size: 22px;
	margin-bottom: 16px;
	color: #565656;
}
.bottom .bottomL li a{
	display: block;
	font-size: 16px;
	color: #a0a0a0;
	line-height: 50px;
}
.bottom .bottomL li a:hover{
	color: #909090;
	text-decoration: underline;
}
.bottomm .anniu a{
	display: inline-block;
	margin-right: 26px;
}
.bottomm .tel{
	margin-top: 30px;
}
.bottomm .tel a{
	color: #a0a0a0;
	font-size: 18px;
	line-height: 42px;
}
.bottomm .tel a img{
	display: inline-block;
	margin-right: 12px;
}
.bottomR span{
	display: inline-block;
	width: 74px;
	text-align: center;
	font-size: 16px;
	color: #a0a0a0;
	line-height: 40px;
	margin-left: 24px;
}

/*footer*/
.footerWrap{
	background: #f9f9f9;
	text-align: center;
	font-size: 22px;
	color: #a0a0a0;
}
.footerWrap p{
	border-top: 3px solid #ededed;
	line-height: 40px;
	padding: 30px 0;
	margin: 0 90px;
}

/*返回顶部*/
.float {
	width: 71px; 
	height: 71px; 
	position: fixed; 
	right: 8%; 
	bottom: 10%; 
	z-index: 999999999999999;
	display: none;
}
.float a { display: block;}
.float a i { 
	width: 71px; 
	height: 71px; 
	display: block; 
	background: url(../images/gotop.png) no-repeat;
	background-size: 100%;
}

/*内页主体部分*/
.n_ban{
	width: 100%;
}
.n_ban img{
	width: 100%;
}
.n_tit{
	width: 100%;
	height: 110px;
	background: #fff;
	-webkit-box-shadow: 0 10px 10px #efefef;  
    -moz-box-shadow: 0 10px 10px #efefef;  
    box-shadow: 0 10px 10px #efefef;  
}
.n_tit span{
	font-size: 16px;
	color: #fff;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 3%;
	margin-top: 56px;
	background: #06609c;
	border-radius: 25px;
	text-align: center;
	cursor: pointer;
}

/*案例详情*/
.containWrap{
	width: 100%;
	background: #ffffff;
}
.case_detail{
	border: 1px solid #d5d5d5;
	margin-top: 58px;
	padding: 26px 26px 60px;
	border-radius: 5px;
}
.containWrap h1.tit{
	width: 100%;
	margin-bottom: 30px;
}
.containWrap h1.tit span{
	float: left;
	font-size: 28px;
	display: block;
	color: #414141;
}
.containWrap h1.tit .share{
	float: right;
}
.share a{
	display: inline-block;
	margin: 0 2px;
}
.case_con img{
	text-align: center;
	display: block;
	width: 838px;
	border: 1px solid #8c8c8c;
	margin: 10px auto;
}
.case_con p{
	font-size: 18px;
	color: #424242;
	line-height: 34px;
	text-indent: 2em;
}
.pages{
	width: 100%;
	text-align: center;
	margin: 40px auto 100px;
}
.pages a{
	display: inline-block;
	font-size: 22px;
	color: #fff;
	height: 60px;
	line-height: 60px;
	border-radius: 5px;
	margin: 0 12px;
}
.pages a.syx{
	padding: 0 34px 0 60px;
	background: #cbcbcb url(../images/ico4.png) 30px center no-repeat;
}
.pages a.xyx{
	padding: 0 60px 0 34px;
	background: #cbcbcb url(../images/ico5.png) 124px center no-repeat;
}
.pages a.syx:hover{
	background: #b4b3b3 url(../images/ico4.png) 30px center no-repeat;
}
.pages a.xyx:hover{
	background: #b4b3b3 url(../images/ico5.png) 124px center no-repeat;
}

/*产品中心*/
.tab_menu {
	width: 100%;
	z-index: 1;
}
.tab_menu li {
	font-size: 16px;
	color: #424242;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 12px;
	margin-top: 56px;
	margin-right: 6px;
	background: #fff;
	border-radius: 25px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in-out;
}
.tab_box {
	width: 100%;
	height: auto;
	position: relative;
	margin-top: 50px;
}
.tab_menu .selected {
	background: #06609c;
	cursor: pointer;
	color: #fff;
}
.tab{
	margin:0 auto;
	position:relative;
	overflow:hidden;
	z-index:1
}
.tab_ul{
	position:relative;
	width:100%;
	z-index:1;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-transition-property:-webkit-transform;
	-moz-transition-property:-moz-transform;
	-o-transition-property:-o-transform;
	-ms-transition-property:-ms-transform;
	transition-property:transform;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.tab_div{
	float:left;
	-webkit-flex-shrink:0;
	-ms-flex:0 0 auto;
	flex-shrink:0;
	position:relative;
	text-align: center;
	background: #fff;
	font-size: 16px;
	color: #424242;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 3%;
	margin-top: 56px;
	margin-right: 6px;
	background: #fff;
	border-radius: 25px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in-out;
}
.tab .selectedl {
    background: #06609c;
	cursor: pointer;
	color: #fff;
}
.tab_box > div {
    width: 100%;
    height: auto;
}
.hide {
    display: none;
}
.product_list{
	width: 100%;
	padding-bottom: 100px;
}
.product_list li{
	float: left;
	width: 29.5%;
	padding-bottom: 40px;
	border-right: 1px solid #e4e9ea;
}
.product_list li a.img{
	display: block;
	width: 100%;
}
.product_list li a.img img{
	width: 100%;
}
.product_list li a.tit{
	font-size: 22px;
	color: #414141;
	line-height: 50px;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.product_list li p{
	font-size: 18px;
	color: #424242;
	line-height: 30px;
	margin-top: 6px;
}
.product_list li a.tit:hover{
	color: #06609c;
}
.product_list li a.pro_more{
	display: inline-block;
	font-size: 18px;
	color: #06609c;
	padding-right: 40px;
	margin-top: 6px;
	background: url(../images/ico6.png) right center no-repeat;
}
.product_list li a.pro_more:hover{
	color: #177bbe;
}
.tab_box .more{
	float: none;
	text-align: center;
	width: 96%;
	height: 36px;
	font-size: 16px;
	line-height: 36px;
	margin: 10px 2% 40px;
	color: #666;
	border: 1px solid #999;
	display: none;
}
.pro_img{
	width: 100%;
	padding-bottom: 100px;
}
.pro_img img{
	width: 96%;
	margin: 0 2%;
}

/*方案中心*/
.case_center{
	background: #f7f7f7;
	padding: 26px 26px 50px;	
	border-radius: 5px;
	margin-bottom: 100px;
	margin-top: 28px;
}
.case_center h2{
	font-size: 28px;
	color: #004385;
}
.case_center p{
	color: #868686;
	line-height: 32px;
	font-size: 18px;
}
.case_cen_list li{
	width: 100%;
	margin-top: 20px;
	border: 1px solid #06609c;
	background: #fff;
}
.case_cen_list li .img{
	width: 61%;
	margin-right: 2%;
}
.case_cen_list li .wen{
	width: 36%;
	padding-right: 1%;
}
.case_cen_list li .wen h3{
	font-size: 22px;
	color: #414141;
}
.case_cen_list li .wen h4{
	font-size: 18px;
	color: #b7b7b7;
}
.case_cen_list li .wen p{
	font-size: 18px;
	line-height: 30px;
	color: #888888;
}

/*关于我们*/
.about_us{
	width: 100%;
	margin-bottom: 100px;
}
.about_us .a_img{
	width: 840px;
	margin: 0 auto;
	display: block;
	text-align: center;
}
.about_us .ab_wen{
	width: 100%;
	padding: 16px 0;
	margin: 10px auto;
	background: #f7f7f7;
}
.about_us .ab_wen h3{
	padding: 0 16px;
	font-size: 18px;
	color: #424242;
	line-height: 34px;
}
.about_us .ab_wen p{
	padding: 0 16px;
	text-indent: 2em;
	font-size: 18px;
	color: #424242;
	line-height: 34px;
}
/*.about_us .img{
	width: 80%;
	margin: 0 auto;
}
.about_us .img img{
	width: 60%;
	height: auto;
	display: block;
}
.about_us .img .wen{
	width: 38%;
	height: auto;
	background: #f7f7f7;
	position: relative;
}*/
.about_us .hot_zp{
	width: 58%;
	border-radius: 4px;
	padding-bottom: 10px;
	border: 2px solid #e7e7e7;
}
.about_us .gs_dt{
	width: 40%;
	border-radius: 4px;
	border: 2px solid #e7e7e7;
}
.about_us .hot_zp h2,
.about_us .gs_dt h2{
	font-size: 22px;
	padding: 16px 16px 6px;
	color: #06609c;
}
.about_us .hot_zp .zwnb,
.about_us .hot_zp .sszw {
	padding: 0 16px;
}
.about_us .hot_zp .zwnb h3,
.about_us .hot_zp .sszw h3{
	font-size: 18px;
	color: #06609c;
	padding-top: 6px;
}
.about_us .hot_zp .zwnb div,
.about_us .hot_zp .sszw div{
	margin-top: 8px;
}
.about_us .hot_zp .zwnb a{
	display: inline-block;
	font-size: 18px;
	color: #424242;
	line-height: 34px;
	float: left;
}
.about_us .hot_zp .sszw a{
	display: inline-block;
	font-size: 18px;
	color: #424242;
	width: 50%;
	line-height: 32px;
	float: left;
}
.about_us .hot_zp .zwnb em{
	display: inline-block;
	height: 20px;
	width: 2px;
	margin: 8px 8px 0 8px;
	float: left;
	background: #424242;
}
.about_us .gs_dt ul{
	margin-top: 8px;
}
.about_us .gs_dt ul li a{
	display: block;
	padding: 0 16px;
	line-height: 28px;
	color: #868686;
	font-size: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.about_us .gs_dt .a_more{
	font-size: 14px;
	color: #178fdd;
	height: 26px;
	line-height: 26px;
	border: 1px solid #178fdd;
	padding: 0 14px;
	float: right;
	margin: 10px 16px 10px 0;
}

/*核心技术*/
.technology{
	width: 100%;
	margin-top: 58px;
	margin-bottom: 100px;
}
.technology li{
	width: 46%;
	margin-bottom: 20px;
	padding: 30px 0;
	background: #f6f6f6;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.technology li:hover{
	cursor: pointer;
	background: #06609c;
}
.technology li a.img{
	display: block;
	width: 84%;
	margin: 0 auto;
}
.technology li .wen{
	width: 84%;
	margin: 0 auto;
}
.technology li a.img img{
	width: 100%;
}
.technology li a.tit{
	font-size: 22px;
	color: #414141;
	line-height: 50px;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.technology li:hover a.tit{
	color: #fff;
}
.technology li p{
	font-size: 18px;
	color: #424242;
	line-height: 30px;
	margin-top: 6px;
	text-align:justify;
	text-justify:inter-ideograph;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.technology li:hover p{
	color: #d8d8d8;
}
.technology li a.tit:hover{
	color: #06609c;
}
.technology li a.pro_more{
	display: inline-block;
	font-size: 18px;
	color: #06609c;
	padding-right: 40px;
	margin-top: 6px;
	background: url(../images/ico6.png) right center no-repeat;
}
.technology li:hover a.pro_more{
	color: #d8d8d8;
	background: url(../images/ico7.png) right center no-repeat;
}

/*核心技术详情*/
.technology_xq{
	margin-top: 58px;
}
.technology_xq{
	width: 100%;
	padding-bottom: 100px;
}
.technology_xq li{
	float: left;
	width: 30%;
	padding-bottom: 40px;
	margin-right: 5%;
}
.technology_xq li.marr{
	margin-right: 0;
	float: right;
}
.technology_xq li a.img{
	display: block;
	width: 100%;
}
.technology_xq li a.img img{
	width: 100%;
}
.technology_xq li a.tit{
	font-size: 18px;
	color: #414141;
	line-height: 50px;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.technology_xq li p{
	font-size: 18px;
	color: #424242;
	line-height: 30px;
	margin-top: 6px;
}
.technology_xq li a.tit:hover{
	color: #06609c;
}
.technology_xq li a.pro_more{
	display: inline-block;
	font-size: 18px;
	color: #06609c;
	padding-right: 40px;
	margin-top: 6px;
	background: url(../images/ico6.png) right center no-repeat;
}
.technology_xq li a.pro_more:hover{
	color: #177bbe;
}

/*核心技术内页*/
.technology_ny{
	width: 100%;
	margin-bottom: 100px;
	margin-top: 58px;
}
.technology_ny img{
	display: block;
	margin: 0 auto;
	width: 838px;
	border: 1px solid #4f4f4f;
}
.technology_ny h5,
.technology_ny p{
	font-size: 18px;
	line-height: 32px;
	color: #424242;
	margin-top: 12px;
}
.technology_ny p {
	margin-top: 20px;
}

/*合作伙伴*/
.parent{
	margin-top: 58px;
	margin-bottom: 100px;
}
.parent li{
	display: block;
	border-top: 1px dashed #b8b8b8;
	float: left;
	width: 33.2%;
	padding: 10px 0;
	border-right: 1px dashed #b8b8b8;
}
.parent li a{
	display: block;
}
.parent li a img{
	display: block;
	width: 100%;
}

/*精彩案例*/
.good_case{
	margin-top: 58px;
	margin-bottom: 100px;
}
.good_case li{
	width: 32%;
	float: left;
	margin: 0 0.666% 1%;
	cursor: pointer;
}
.good_case li .g_case{
	border-radius: 5px;
	border: 1px solid #ececec;
}
.good_case li:hover .g_case{
	border: 1px solid #178fdd;
}
.good_case li .img{
	width: 100%;
	border-radius: 5px;
	background: #fff;
	text-align: center;
    display: block;
    overflow: hidden;
}
.good_case li .img img{
	width: 100%;
	display: block;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
}
.good_case li .wen {
	padding: 0 4px 20px;
	position: relative;
	background: #f5f5f5;
	margin-top: -4px;
}
.good_case li .wen .tit{
	display: block;
	padding: 12px 0 8px;
	color: #565656;
	font-size: 22px;
	-moz-transition: all 0s ease-in;
	-webkit-transition: all 0s ease-in;
	-o-transition: all 0s ease-in;
	transition: all 0s ease-in;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.good_case li .wen p{
	font-size: 18px;
	color: #909090;
	line-height: 36px;
}
.good_case li:hover .wen{
	background: #178fdd;
}
.good_case li:hover .wen .tit{
	color: #fff;
}
.good_case li:hover .wen p{
	color: #e3e3e3;
}
.good_case li:hover .img img,
.good_case li.hover .img img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1)
}

/*新闻详情*/
.case_detail h4{
	font-size: 18px;
	color: #868686;
	margin-top: -28px;
	margin-bottom: 20px;
}
.case_con .img span{
	display: block;
	font-size: 16px;
	text-align: center;
	color: #868686;
	margin-bottom: 10px;
}

/*新闻动态*/
.news{
	margin-top: 58px;
	margin-bottom: 100px;
}
.news li{
	padding: 40px 30px;
	border: 1px solid #bebebe;
	margin-bottom: 20px;
}
.news li a{
	display: block;
}
.news li .img{
	width: 35%;
	margin-right: 2%;
}
.news li .img img{
	width: 100%;
}
.news li .wen{
	position: relative;
}
.ulA3{
	position: relative;
}
.ulA3 .fengxiang{
	display: inline-block;
	position: absolute;
	right: 0;
	top: -60px;
	padding: 5px 13px;
	border: 1px solid #424242;
	border-radius: 5px;
}
.ulA3 .fengxiang img{
	width: 100%;
	display: block;
}
.f_share{
	display: none;
    position: absolute;
    right:-40px;
    top: -20px;
    z-index: 120;
    width: 130px;
    height: 59px;
    text-align: center;
    background: url(../images/ico11.png) no-repeat;
}
.flipy .f_share{
	display: block;
}
.ulA3 .f_share a{
	display: inline-block;
	text-align: center;
	margin: 16px 6px 0;
}
.news li .wen .tit{
	font-size: 22px;
	color: #414141;
}
.news li .wen h4{
	color: #868686;
	font-size: 18px;
	margin: 8px 0;
}
.news li .wen h4 span{
	display: inline-block;
	margin-right: 12px;
}
.news li .wen p{
	font-size: 18px;
	color: #888888;
	line-height: 30px;
	margin-top: 20px;
}
.show_more{
	width: 100%;
	display: block;
	font-size: 22px;
	color: #fff;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #165390 url(../images/ico12.png) no-repeat 42% center;
}

/*智能家居*/
.smart_home{
	margin-top: 80px;
	margin-bottom: 100px;
}
.smart_tp{
	width: 100%;
}
.smart_tp .smar_fl{
	color: #fff;
	padding: 0 24px;
	background: #06609c;
	position: relative;
}
.smart_tp .smar_fl h2{
	font-size: 22px;
	padding-top: 56px;
}
.smart_tp .smar_fl p{
	font-size: 18px;
	margin-top: 36px;
	line-height: 34px;
}
.smart_tp .smar_fr{
	width: 45%;
	margin-left: 2%;
	position: relative;
	z-index: 2;
	display: block;
	margin-top: -2.5%;
}
.smart_tp .smar_fr img{
	width: 100%;
	display: block;
	-webkit-box-shadow:0 0 16px #dbdbdb;  
    -moz-box-shadow:0 0 16px #dbdbdb;  
    box-shadow:0 0 16px #dbdbdb; 
}
.smart_tp .smar_fr .play{
	display: block;
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	overflow: hidden;
}
.smart_tp .smar_fr .play img{
	width: 100%;
}
.smart_bm{
	margin-top: 120px;
}
.smart_bm li{
	float: left;
	width: 32%;
	margin-right: 2%;
}
.smart_bm li a{
	display: block;
	text-align: center;
	color: #424242;
	font-size: 18px;
	line-height: 40px;
}
.smart_bm li a img{
	display: block;
	width: 100%;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	border: 1px solid #cacaca;
}
.smart_bm li a:hover{
	color: #06609c;
}
.smart_bm li a:hover img{
	border: 1px solid #06609c;
}

/*智慧社区*/
.smart_video p{
	font-size: 18px;
	color: #424242;
	margin-top: 12px;
	line-height: 34px;
}

/*产品详情*/
.product_tp{
	width: 100%;
	margin-top: 58px;
}
.product_tp .productl{
	width: 52%;
}
.dri-man{
	width: 100%;
}
.sflexsliderl {
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	position: relative;
	border: 1px solid #8e8e8e;
}
.sflexsliderl .flex-control-nav {
	display: none;
}
.sflexsliderl img {
	width: 100%;
}
.sflexsliderr {
	margin: 40px auto;
	width: 100%;
}
.sflexsliderr ul.slides {
	overflow: hidden;
	width: auto;
	margin: 0 auto;
	padding-bottom: 1px;
}
.sflexsliderr ul.slides li{
	width: 86px !important;
	margin: 0 10px;
}
.sflexsliderr ul.slides li a{
	display: block;
}
.sflexsliderr ul.slides li a img {
	width: 86px;
	display: block;
	text-align: center;
	margin: 0 auto;
	border: 1px solid #8e8e8e;
}
.sflexsliderr ul.slides li.flex-active-slide a img{
	border: 1px solid #06609c;
}
.flex-viewport {
	z-index: 2;
	width: 100%;
}
.sflexsliderr .flex-viewport {
	z-index: 2;
	width: 80%;
	margin: 0 auto;
}
.sflexsliderl .flex-direction-nav {
	display: none;
}
.sflexsliderr {
	position: relative;
}
.sflexsliderr .flex-direction-nav {
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	z-index: 99;
	overflow: visible;
	margin-top: -13px;
}
.sflexsliderr .flex-direction-nav li a {
	display: block;
	overflow: hidden;
	text-indent: -99999px;
}
.sflexsliderr .flex-direction-nav li a.flex-prev {
	position: absolute;
	left: 10px;
	width: 16px;
	height: 27px;
	background: url(../images/ico13.png) no-repeat;
}
.sflexsliderr .flex-direction-nav li a.flex-next {
	position: absolute;
	right: 10px;
	width: 15px;
	height: 26px;
	background: url(../images/ico14.png) no-repeat;
}
.product_tp .productr{
	width: 46%;
}
.productr h2 span{
	display: block;
	float: left;
	font-size: 28px;
	color: #424242;
}
.productr h2 .ico{
	float: right;
}
.productr h2 .ico a{
	display: inline-block;
	margin-left: 20px;
}
.productr h3{
	color: #868686;
	font-size: 16px;
	margin-top: 4px;
}
.productr h3 img{
	display: inline-block;
	margin-right: 4px;
	margin-top: 7px;
}
.productr p{
	font-size: 18px;
	color: #424242;
	line-height: 30px;
	padding-bottom: 18px;
	margin-top: 14px;
	border-bottom: 1px solid #dedede;
}
.productr .jg{
	margin-top: 18px;
}
.productr .xh{
	margin-top: 12px;
}
.productr .jg span,
.productr .xh span{
	display: inline-block;
	padding-right: 20px;
	font-size: 18px;
	color: #424242;
}
.productr .xh span{
	float: left;
	line-height: 44px;
}
.productr .jg strong{
	display: inline-block;
	padding-right: 20px;
	font-size: 18px;
	color: #ff0004;
	font-weight: normal;
}
.productr .xh .xh_list{
	float: left;
}
.productr .xh .xh_list a{
	display: block;
	float: left;
	font-size: 18px;
	color: #424242;
	padding: 8px 16px;
	border: 1px solid #040000;
	margin-right: 4px;
}
.productr .xh .xh_list a.selected {
    color: #06609c;
    border: 1px solid #06609c;
}
.product_bm{
	width: 100%;
	margin-top: 32px;
	margin-bottom: 80px;
}
.product_menu {
	border-top: 2px solid #dedede;
	border-bottom: 2px solid #dedede;
}
.product_menu .pro_me{
	width:100%;
	z-index:1;
	text-align: center;
	height: 46px;
	line-height: 46px;
	font-size: 22px;
	background: #dedede;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.product_menu .pro_me a{
	color: #868686;
	display: inline-block;
	padding: 0 3%;
}
.product_menu .pro_me a.selected{
	color: #06609c;
}
.product_box{
	width: 100%;
	margin-top: 20px;
}
.product_box div img{
	width: 100%;
}
