/*@media only screen and (min-width: 300px) and (max-width: 490px) {*/
	.swiper-container {
		margin:0 auto;
		position:relative;
		z-index:1;
		overflow: hidden;
	}
	.swiper-container-no-flexbox .swiper-slide {
		float:left
	}
	.swiper-container-vertical>.swiper-wrapper {
		-webkit-box-orient:vertical;
		-moz-box-orient:vertical;
		-ms-flex-direction:column;
		-webkit-flex-direction:column;
		flex-direction:column
	}
	.swiper-wrapper {
		position:relative;
		width:100%;
		height:100%;
		z-index:1;
		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;
		-webkit-transition-property:-webkit-transform;
		-moz-transition-property:-moz-transform;
		-o-transition-property:-o-transform;
		-ms-transition-property:-ms-transform;
		transition-property:transform;
		-webkit-box-sizing:content-box;
		-moz-box-sizing:content-box;
		box-sizing:content-box
	}
	.swiper-container-android .swiper-slide,.swiper-wrapper {
		-webkit-transform:translate3d(0,0,0);
		-moz-transform:translate3d(0,0,0);
		-o-transform:translate(0,0);
		-ms-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0)
	}
	.swiper-container-multirow>.swiper-wrapper {
		-webkit-box-lines:multiple;
		-moz-box-lines:multiple;
		-ms-flex-wrap:wrap;
		-webkit-flex-wrap:wrap;
		flex-wrap:wrap
	}
	.swiper-container-free-mode>.swiper-wrapper {
		-webkit-transition-timing-function:ease-out;
		-moz-transition-timing-function:ease-out;
		-ms-transition-timing-function:ease-out;
		-o-transition-timing-function:ease-out;
		transition-timing-function:ease-out;
		width: 100%;
	}
	.swiper-slide {
		-webkit-flex-shrink:0;
		-ms-flex:0 0 auto;
		flex-shrink:0;
		width:100%;
		height:auto;
		position:relative
	}
	.swiper-pagination {
	    position: absolute;
	    text-align: center;
	    -webkit-transition: .3s;
	    -moz-transition: .3s;
	    -o-transition: .3s;
	    transition: .3s;
	    -webkit-transform: translate3d(0,0,0);
	    -ms-transform: translate3d(0,0,0);
	    -o-transform: translate3d(0,0,0);
	    transform: translate3d(0,0,0);
	    z-index: 10;
	    bottom: 0px;
		left: 0;
		width: 100%;
	}
	.swiper-pagination-bullet {
	    width: 8px;
	    height: 8px;
	    display: inline-block;
	    border-radius: 100%;
	    background: #ccc;
	    margin: 0 10px;
	}
	.swiper-pagination-bullet-active {
	    opacity: 1;
	    background: #169ada;
	}
/*}*/